In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
kolom = ['no','tanggal','waktu','lintang','bujur','depth','magnitudo','type','smaj','smin','az','rms','cphase','region']
df = pd.read_csv('https://raw.githubusercontent.com/tonimurfid/Statistika_24/main/2018.csv',names=kolom)
df.drop(0,inplace=True)
df.head(5)

,no,tanggal,waktu,lintang,bujur,depth,magnitudo,type,smaj,smin,az,rms,cphase,region
1,1,1/1/2018,00:43:05 UTC,11.65 LS,117.61 BT,10 Km,4.2 SR,MLv,7.912,2.807,233,0.581,14,"South of Sumbawa, Indonesia"
2,2,1/1/2018,00:52:32 UTC,0.33 LS,123.73 BT,112 Km,5.1 SR,MLv,10.316,0.932,54,0.904,39,"Minahassa Peninsula, Sulawesi"
3,3,1/1/2018,02:47:53 UTC,1.4 LS,120.47 BT,10 Km,2.4 SR,MLv,3.22,1.196,137,0.682,5,"Sulawesi, Indonesia"
4,4,1/1/2018,03:03:26 UTC,9.42 LS,117.9 BT,24 Km,2.4 SR,MLv,1.206,0.596,279,0.122,6,"Sumbawa Region, Indonesia"
5,5,1/1/2018,03:07:09 UTC,1.42 LU,122.04 BT,17 Km,1.9 SR,MLv,1.299,0.533,232,0.027,5,"Minahassa Peninsula, Sulawesi"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6667 entries, 1 to 6667
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   no         5951 non-null   object
 1   tanggal    6667 non-null   object
 2   waktu      6667 non-null   object
 3   lintang    6667 non-null   object
 4   bujur      6667 non-null   object
 5   depth      6667 non-null   object
 6   magnitudo  6667 non-null   object
 7   type       6667 non-null   object
 8   smaj       6667 non-null   object
 9   smin       6667 non-null   object
 10  az         6667 non-null   object
 11  rms        6667 non-null   object
 12  cphase     6667 non-null   object
 13  region     6667 non-null   object
dtypes: object(14)
memory usage: 729.3+ KB

In [10]:
df['no'] = df['no'].astype(float)
df['tanggal'] = df['tanggal'].astype(str)
df['waktu'] = df['waktu'].astype(str)
df['lintang'] = df['lintang'].astype(str)
df['bujur'] = df['bujur'].astype(str)
df['depth'] = df['depth'].astype(str)
df['magnitudo'] = df['magnitudo'].astype(str)
df['smaj'] = df['smaj'].astype(float)
df['smin'] = df['smin'].astype(float)
df['az'] = df['az'].astype(float)
df['rms'] = df['rms'].astype(float)
df['cphase'] = df['cphase'].astype(float)
df['region'] = df['region'].astype(str)

In [11]:
df['depth'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6667 entries, 1 to 6667
Series name: depth
Non-Null Count  Dtype
--------------  -----
6667 non-null   object
dtypes: object(1)
memory usage: 52.2+ KB

In [8]:
df['depth'] = df['depth'].apply[lambda x: x.split(" ")[1]]

TypeError: 'method' object is not subscriptable