In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [36]:
kolom = ['no','tanggal','waktu','lintang','bujur','depth','magnitudo','type','smaj','smin','az','rms','cphase','region']
df = pd.read_csv('https://raw.githubusercontent.com/tonimurfid/Statistika_24/main/2018.csv',names=kolom)

df = df.drop(['no', 'region'],axis=1)
df = df.drop(0)

df

,tanggal,waktu,lintang,bujur,depth,magnitudo,type,smaj,smin,az,rms,cphase
1,1/1/2018,00:43:05 UTC,11.65 LS,117.61 BT,10 Km,4.2 SR,MLv,7.912,2.807,233,0.581,14
2,1/1/2018,00:52:32 UTC,0.33 LS,123.73 BT,112 Km,5.1 SR,MLv,10.316,0.932,54,0.904,39
3,1/1/2018,02:47:53 UTC,1.4 LS,120.47 BT,10 Km,2.4 SR,MLv,3.22,1.196,137,0.682,5
4,1/1/2018,03:03:26 UTC,9.42 LS,117.9 BT,24 Km,2.4 SR,MLv,1.206,0.596,279,0.122,6
5,1/1/2018,03:07:09 UTC,1.42 LU,122.04 BT,17 Km,1.9 SR,MLv,1.299,0.533,232,0.027,5
...,...,...,...,...,...,...,...,...,...,...,...,...
6663,8/3/2018,21:17:24 UTC,8.46 LS,116.53 BT,10 Km,2.2 SR,MLv,1.358,0.435,181,0.655,7
6664,8/3/2018,21:28:19 UTC,8.71 LS,116.36 BT,10 Km,2.5 SR,MLv,2.042,0.387,189,0.48,7
6665,8/3/2018,22:09:47 UTC,9.5 LS,120.77 BT,68 Km,4 SR,MLv,3.457,1.447,286,0.858,5
6666,8/3/2018,23:56:38 UTC,8.58 LS,116.49 BT,17 Km,2.9 SR,MLv,6.771,0.414,161,0.328,10
6667,8/3/2018,23:59:32 UTC,8.78 LS,116.4 BT,19 Km,2.4 SR,MLv,1.366,0.462,208,0.332,7

In [37]:
df['tanggal'] = df['tanggal'].apply(lambda x: x.split("/")[2])
df['lintang'] = df['lintang'].apply(lambda x: x.split(" ")[0])
df['bujur'] = df['bujur'].apply(lambda x: x.split(" ")[0])
df['depth'] = df['depth'].apply(lambda x: x.split(" ")[0])
df['magnitudo'] = df['magnitudo'].apply(lambda x: x.split(" ")[0])
df

,tanggal,waktu,lintang,bujur,depth,magnitudo,type,smaj,smin,az,rms,cphase
1,2018,00:43:05 UTC,11.65,117.61,10,4.2,MLv,7.912,2.807,233,0.581,14
2,2018,00:52:32 UTC,0.33,123.73,112,5.1,MLv,10.316,0.932,54,0.904,39
3,2018,02:47:53 UTC,1.4,120.47,10,2.4,MLv,3.22,1.196,137,0.682,5
4,2018,03:03:26 UTC,9.42,117.9,24,2.4,MLv,1.206,0.596,279,0.122,6
5,2018,03:07:09 UTC,1.42,122.04,17,1.9,MLv,1.299,0.533,232,0.027,5
...,...,...,...,...,...,...,...,...,...,...,...,...
6663,2018,21:17:24 UTC,8.46,116.53,10,2.2,MLv,1.358,0.435,181,0.655,7
6664,2018,21:28:19 UTC,8.71,116.36,10,2.5,MLv,2.042,0.387,189,0.48,7
6665,2018,22:09:47 UTC,9.5,120.77,68,4,MLv,3.457,1.447,286,0.858,5
6666,2018,23:56:38 UTC,8.58,116.49,17,2.9,MLv,6.771,0.414,161,0.328,10
6667,2018,23:59:32 UTC,8.78,116.4,19,2.4,MLv,1.366,0.462,208,0.332,7

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6667 entries, 1 to 6667
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tanggal    6667 non-null   object
 1   waktu      6667 non-null   object
 2   lintang    6667 non-null   object
 3   bujur      6667 non-null   object
 4   depth      6667 non-null   object
 5   magnitudo  6667 non-null   object
 6   type       6667 non-null   object
 7   smaj       6667 non-null   float64
 8   smin       6667 non-null   float64
 9   az         6667 non-null   float64
 10  rms        6667 non-null   float64
 11  cphase     6667 non-null   float64
 12  region     6667 non-null   object
dtypes: float64(5), object(8)
memory usage: 677.2+ KB

In [8]:
df['depth'] = df['depth'].apply[lambda x: x.split(" ")[1]]

TypeError: 'method' object is not subscriptable